* {
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #222222;

}
.header-nav {
    border-bottom: 1px solid #e2e2e2;
}
.navigation {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.navigation-link {
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    display: block;
    vertical-align: top;
}
.clearfix {
    clear: both;
}
.navigation {
    padding: 15px 0;
}
.navigation-list {
    float: left;
}
.navigation-link.logo {
    background-image: url(image/logo-visa.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 114px;
    height: 39px;
    border-radius: 39px;
}
.navigation-list + .navigation-list {
    float: right;
}
.navigation-item {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}
.navigation-item.logo {
    margin-right: 40px;
}
.navigation-item.move {
    margin-top: 8.5px;
}
.navigation-item:last-child {
    margin-right: 0;
}
.navigation-link:hover {
    color: rgb(75, 172, 139);
}
.navigation-link.logo:hover {
    background-color: bisque;
}
.button-link {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 48px;
    line-height: 25px;
    padding: 10.5px 36px;
}
.button-link:hover {
    background-color: bisque;
}
.navigation-item.button {
    margin-left: 10px;
}
.app-link {
    height: 50px;
    width: 170px;
    display: block;

}
.app-link.apple {
    background-image: url(image/App-Store.png);
    background-repeat: no-repeat;
    background-size: 137px 37px;
    background-color: #000000;
    background-position: center;
    border: 2px solid #a6a6a6;
    border-radius: 8px;
    margin-bottom: 21px;

}
.app-link.google {
    background-image: url(image/Google-Play.png);
    background-repeat: no-repeat;
    background-size: 137px 37px;
    background-color: #000000;
    background-position: center;
    border: 2px solid #a6a6a6;
    border-radius: 8px;
}
.app-link.google:hover {
    background-color: #3f3c3c;
}
.app-link.apple:hover {
    background-color: #3f3c3c;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.shopping {
    padding-top: 40px;
}
.container.shopping {
    padding: 163px 0 112px 0;
    background-image: url(image/shopping-phone.png);
    background-repeat: no-repeat;
    background-size: 585px 546px;
    background-position: right top;
}
.shopping-text {
    max-width: 450px;
    line-height: 26px;
}
.shopping-body {
    margin-bottom: 14px;
}
.shopping-title {
    max-width: 370px;
    font-size: 42px;
    line-height: 50px;
}
.shopping-header {
    margin-bottom: 23px;
}
.shopping-link {
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    background-image: url(image/link.png);
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: left;
    padding-left: 35px;
    height: 27px;
    text-decoration: none;
    display: inline-block;
    max-width: 500px;
    margin-bottom: 32px;
}
.shopping-link:hover {
    color: rgb(75, 172, 139);
}
.boost-title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 12px;
    display: block;
}
.container.boost {
    padding: 311px 0 243px 720px;
    background-image: url(image/boost-phone.png);
    background-repeat: no-repeat;
    background-size: 585px 657px;
    background-position: left top;
}
.shopping-text.boost-text {
    margin-bottom: 12px;
}
.container.care {
    padding: 195px 0 205px 0;
    background-image: url(image/care-phone.png);
    background-repeat: no-repeat;
    background-size: 585px 587px;
    background-position: right top;
}
.cashback-button {
    border: 1px solid #000000;
    border-radius: 48px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    background-color: #FFFFFF;
    padding: 10.5px 35px;
    margin: 0;
}
.cashback-button:hover {
    background-color: #3f3c3c;
    color: #FFFFFF;
}
.cashback {
    margin-bottom: 68px;
}

.cashback-artical {
    text-align: center;
    max-width: 590px;
    display: inline-block;
}
.container.center {
    text-align: center;
}
.shopping-body {
    max-width: 1200px;
    display: inline-block;
}
.shopping-text.space {
    max-width: 585px;
}
.firm-link {
    display: block;
    width: 100%;
    height: 100%;
}
.firm-item {
    display: inline-block;
    width: 25%;
    text-align: center;
    height: 70px;
    vertical-align: top;
}
.firm-img {
    display: inline-block;
}
.firm-link:hover {
    background-color: bisque;
}
.firm-list {
    margin-bottom: 77px;
}
.app-link-small {
    height: 54px;
    width: 87px;
    display: inline-block;
}
.app-link-small:hover {
    background-color: rgb(201, 211, 197);
}
.google-small {
    background-image: url(image/google-small.png);
    background-repeat: no-repeat;
    background-size: 70px 28px;
    background-position: center;
    border: 2px solid #222222;
    border-radius: 8px;
}
.apple-small {
    background-image: url(image/apple-small.png);
    background-repeat: no-repeat;
    background-size: 67px 28px;
    background-position: center;
    border: 2px solid #222222;
    border-radius: 8px;
    margin-right: 24px;
}
.mastercard > .container {
    background-image: url(image/mastercard.png);
    background-repeat: no-repeat;
    background-size: 585px 589px;
    background-position: right top;
    padding-bottom: 188px;
    padding-top: 199px;
}
.container.fees {
    padding: 145px 0 116px 720px;
    background-image: url(image/fees.png);
    background-repeat: no-repeat;
    background-size: 585px 422px;
    background-position: left top;
}
.container.currency {
    padding: 177px 0 149px 0px;
    background-image: url(image/currency.png);
    background-repeat: no-repeat;
    background-size: 585px 522px;
    background-position: right top;
}
.boost-title.currency {
    max-width: 375px;
}
.currency-text {
    margin-bottom: 15px;
    max-width: 475px;
}
.currency-text + .currency-text {
    margin-bottom: 0;
}
.container.account {
    padding: 83px 0 142px 720px;
    background-image: url(image/account.png);
    background-repeat: no-repeat;
    background-size: 585px 458px;
    background-position: left top;
    border-bottom: 1px solid #CBD6E2;
}
.account-body {
    margin-bottom: 33px;
}
.account > .app-link {
    display: inline-block;
    margin-right: 22px;
    vertical-align: top;
}
.additional-info-link {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}
.additional-info-link:hover {
    color: rgb(31, 167, 38);
}
.additional-info-list {
    display: inline-block;
    width: 200px;
    padding: 69px 30px 0 0;
    vertical-align: top;
}
.additional-info-title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 33px;
}
.additional-info-item {
    margin-bottom: 15px;
}
.additional-info-list > .additional-info-item:last-child {
    margin-bottom: 0;
}
.additional-info-img {
    background-image: url(image/follow-in.png);
    background-repeat: no-repeat;
    background-size: 18px 16px;
    background-position: center;
    border: 2px solid #000000;
}
.additional-info-link.additional-info-img {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: top;
}
.additional-info-img:hover {
    background-color: #a6a6a6;
}
.additional-info {
    padding-bottom: 55px;
}
.copyright-body-text {
    max-width: 840px;
    font-size: 12px;
    line-height: 16px;
    color: #AAAAAA;
}
.copyrigth-icon {
    background-image: url(image/monobank.png);
    background-repeat: no-repeat;
    background-size: 234px 23px;
    background-position: left center;
    height: 23px;
    width: 234px;
    margin-bottom: 20px;
}
.copyright-body {
    background-image: url(image/pci.png);
    background-repeat: no-repeat;
    background-size: 176px 59px;
    background-position: right center;
    padding: 6px 0 6px 0;
}
.copyright {
    padding-bottom: 66px;
}