* {
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #222222;

}
.header-nav {
    border-bottom: 1px solid #e2e2e2;
}
.navigation {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.navigation-link {
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    display: block;
    vertical-align: top;
}
.clearfix {
    clear: both;
}
.navigation {
    padding: 15px 0;
}
.navigation-list {
    float: left;
}
.navigation-link.logo {
    background-image: url(image/logo-visa.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 114px;
    height: 39px;
    border-radius: 39px;
}
.navigation-list + .navigation-list {
    float: right;
}
.navigation-item {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}
.navigation-item.logo {
    margin-right: 40px;
}
.navigation-item.move {
    margin-top: 8.5px;
}
.navigation-item:last-child {
    margin-right: 0;
}
.navigation-link:hover {
    color: rgb(75, 172, 139);
}
.navigation-link.logo:hover {
    background-color: bisque;
}
.button-link {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 48px;
    line-height: 25px;
    padding: 10.5px 36px;
}
.button-link:hover {
    background-color: bisque;
}
.navigation-item.button {
    margin-left: 10px;
}
.app-link {
    height: 50px;
    width: 170px;
    display: block;
}
.app-link.apple {
    background-image: url(image/App-Store.png);
    background-repeat: no-repeat;
    background-size: 137px 37px;
    background-color: #000000;
    background-position: center;
    border: 2px solid #a6a6a6;
    border-radius: 8px;
    margin-bottom: 21px;

}
.app-link.google {
    background-image: url(image/Google-Play.png);
    background-repeat: no-repeat;
    background-size: 137px 37px;
    background-color: #000000;
    background-position: center;
    border: 2px solid #a6a6a6;
    border-radius: 8px;
}
.app-link.google:hover {
    background-color: #3f3c3c;
}
.app-link.apple:hover {
    background-color: #3f3c3c;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.container.shopping {
    padding: 203px 0 112px 0;
    background-image: url(image/shopping-phone.png);
    background-repeat: no-repeat;
    background-size: 585px 546px;
    background-position: right, top;
}
.shopping-text {
    max-width: 420px;
    line-height: 26px;
}
.shopping-body {
    margin-bottom: 14px;
}
.shopping-title {
    max-width: 370px;
    font-size: 42px;
    line-height: 50px;
}
.shopping-header {
    margin-bottom: 23px;
}
.shopping-link {
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    background-image: url(image/link.png);
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: left;
    padding-left: 35px;
    height: 27px;
    text-decoration: none;
    display: inline-block;
    max-width: 500px;
    margin-bottom: 32px;
}
.shopping-link:hover {
    color: rgb(75, 172, 139);
}