* {
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.header-nav {
    border-bottom: 1px solid #e2e2e2;
}
.navigation-link {
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    text-decoration: none;
}